@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:500&display=swap');
*{
   font-family: 'Noto Sans TC', sans-serif;
}
body{
   padding: 20px 60px;
}
a{
   color: black;
   text-decoration: none;
}